
@{
    ViewBag.Title = "Accessories";
}

@section Produkte{
    @Html.Raw("activee")
}


    <section class="hero-wrap hero-wrap-2 mobilSection" style="background-image: url('../../Content/images/Adsız1.png');">
        <div class="container">
        </div>
    </section>
   
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread">Zubehör</h1>
            </div>
        </div>
   

        <div class="row">


            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-001/ayna-001.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=1})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>


            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-002/ayna-002.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=2})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-003/ayna-003.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=3})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-004/ayna-004.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=4})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-005/ayna-005.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=5})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/agm-006/ayna-006.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=6})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/dt-004/dus-oturagi-004-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=7})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/etb-001/etb-engelli-tutunma-bari-001-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=8})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/etb-002/etb-engelli-tutunma-bari-002-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=9})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/etb-002-2/etb-engelli-tutunma-bari-002-2-r-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=10})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/etb-003/etb-engelli-tutunma-bari-003-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=11})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/etb-003/etb-engelli-tutunma-bari-003-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=12})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/twl-001/havluluk1-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=13})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/twl-002-2/havluluk-002-2-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=14})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/twl-003/havluluk3-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=15})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

            <div class="col-md-3 ftco-animate mobilicMekan">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aksesuarlar/twl-004/havluluk-004-600x600.jpg');">
                    <a href='@Url.Action("AccessorieDetails","Home", new {@id=16})' class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-search"></span>
                    </a>

                </div>
            </div>

        </div>


