
@{
    ViewBag.Title = "ComplementaryProducts";
}

@section Produkte{
    @Html.Raw("activee")
}

<section class="hero-wrap hero-wrap-2 mobilSection" style="background-image: url('../../Content/images/Adsız1.png');">
    <div class="container">

    </div>
</section>
<div class="row no-gutters slider-text align-items-end">
    <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-0 bread">Erganzende Produkte</h1>
    </div>
</div>
<div class="row mobiltamamlayiici" style="width:80%; text-align:center; margin-left:130px; padding-top:20px">



    <div class="col-md-6 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg');width:366px; height:366px; object-fit:cover">
            <a href="@Url.Action("WoodType","Home")" class="icon  d-flex justify-content-center align-items-center">
                <span class="">Blättern</span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>HOLZTYPE OPTIONEN</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/KumasSecenekleri/ATHENA174.jpg'); width:366px; height:366px; object-fit:cover">
            <a href="@Url.Action("FabricsOptions","Home")" class="icon  d-flex justify-content-center align-items-center">
                <span class="">Blättern</span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>STOFFE OPTIONEN</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="        background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg');
        width: 366px;
        height: 366px;
        object-fit: cover
">
            <a href="@Url.Action("LeatherOptions","Home")" class="icon  d-flex justify-content-center align-items-center">
                <span class="">Blättern</span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>OPTIONEN FÜR LEDERPOLSTER </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak1.jpg'); width:366px; height:366px; object-fit:cover">
            <a href="@Url.Action("MetalColor","Home")" class="icon  d-flex justify-content-center align-items-center">
                <span class="">Blättern</span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> METALLFARBE OPTIONEN</span>
                </div>
            </div>
        </div>
    </div>
</div>

