
@{
    ViewBag.Title = "GardenProducts";
}

@section Produkte{
    @Html.Raw("activee")
}

    <section class="hero-wrap hero-wrap-2 mobilSection" style="background-image: url('../../Content/images/Adsız1.png');">
        <div class="container">
            
        </div>
    </section>

<div class="row no-gutters slider-text align-items-end">
    <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-0 bread">Gartenmöbel</h1>
    </div>
</div>
<div class="row">


    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-001/bm-ms-001-satine.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=1})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-002/bm-ms-002.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=2})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-003/bm-ms-003-2-1-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=3})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-004/bm-ms-004.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=4})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-005/bm-ms-005.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=5})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ms-006/bm-ms-006-üstü-satine-ayaklar-parlak.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=6})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-01/bm-ob-01.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=7})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-02/bm-ob-02.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=8})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-03/bm-ob-03.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=9})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-04/bm-ob-04.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=10})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-05/bm-ob-05.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=11})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-06/bm-ob-06.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=12})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-07/bm-ob-07.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=13})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-08/bm-ob-08-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=14})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-08-9-10/bm-ob-08-9-10.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=15})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-09/bm-ob-09-2-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=16})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-10/bm-ob-10-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=17})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-11/bm-ob-11.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=18})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-12/bm-ob-12.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=19})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-13/bm-ob-13.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=20})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-14/bm-ob-14-1-satine.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=21})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-ob-15/bm-ob-15.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=22})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-pergole-001/bm-pergole-001-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=23})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/bahcemobilyaları/bm-salincak-002/bm-salincak-002-1-600x600.jpg');">
            <a href='@Url.Action("GardenDetails","Home",new  {@id=24})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>


</div>

