
@{
    ViewBag.Title = "IndoorProducts";
}

@section Produkte{
    @Html.Raw("activee")
}

<section class="hero-wrap hero-wrap-2 mobilSection" style="background-image: url('../../Content/images/Adsız1.png');">
</section>
<div class="container">
    <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-0 bread">Innenmöbel</h1>
        </div>
    </div>
</div>

<div class="row">


    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-001/imm-k-001.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=1})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-006/imm-masa-006.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=2})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-001/imm-masa-001.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=3})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-01/imm-ob-01.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=4})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-02/imm-ob-02.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=5})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-03-04-05/imm-ob-03-4-5.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=6})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-001-2/imm-k-001-2-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=7})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-001-2-k/imm-k-001-2-k-2-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=8})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-002/imm-k-002-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=9})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-002-2/imm-k-002-2-5-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=10})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-002-2-k/imm-k-002-2-k-4-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=11})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-003-2-k/imm-k-003-2-k-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=12})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-004-2/imm-k-004-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=13})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-005/imm-k-005-2-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=14})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-005/imm-masa-005.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=15})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-002/imm-masa-002.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=16})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-001-k/imm-k-001-k-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=17})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-002-k/imm-k-002-2-k-5-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=18})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-003/imm-k-003-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=19})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-06/imm-ob-06-3-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=20})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-004/imm-k-004-3-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=21})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-003/imm-masa-003-satine.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=22})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-masa-004/imm-masa-004.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=23})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-07/imm-ob-07-güncel-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=24})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-08/imm-ob-08-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=25})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>


    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-09/imm-ob-09-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=26})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-03/imm-ob-03-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=27})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-04/imm-ob-04-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=28})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-ob-05/imm-ob-05-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=29})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-003-k/imm-k-003-k-1-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=30})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate mobilicMekan">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/IcmekanMobilya/imm-k-003-2/imm-k-003-2-4-600x600.jpg');">
            <a href='@Url.Action("IndoorDetails","Home",new  {@id=31})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

   


</div>
