
@{
    ViewBag.Title = "LightingProducts";
}

@section Produkte{
    @Html.Raw("activee")
}


    <section class="hero-wrap hero-wrap-2 mobilSection mobilicMekan" style="background-image: url('../../Content/images/Adsız1.png');">
        <div class="container">

        </div>
    </section>
<div class="row no-gutters slider-text align-items-end">
    <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-0 bread">Beleuchtugns Produkte</h1>
    </div>
</div>

<div class="row">


    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-001/au-001satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=1})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-002/au-002satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=2})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-003/au-003-1satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=3})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-d-001/au-d-001-satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=4})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-d-002/au-d-002-satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=5})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Aydınlatma/au-d-003/au-d-003satine.jpg');">
            <a href='@Url.Action("LightingDetails","Home",new  {@id=6})' class="icon  d-flex justify-content-center align-items-center">
                <span class="fa fa-search"></span>
            </a>

        </div>
    </div>

   

</div>

